body {
  background: rgba(173, 216, 230, 0.8);
  text-align: center;
  padding: 25px 0;
  width: 600px;
  margin: 25px auto;
  border-radius: 25px;
}

html {
  background-image: url("img/Pic.png"); no-repeat
  center fixed;
  background-size: cover;
}

h1 {
  color: darkorange;
  text-align: center;
}

h2 {
  color: darkorange;
  font-size: 20px;

}

h3 {
  color: darkorange;
  font-size: 20px;
}

p1 {
  color: darkorange;
  font-size: 15px;
}

p2 {
  color: darkorange;
  font-size: 15px;
}

p3 {
  color: darkorange;
  font-size: 14.3px;
}

hr {
  border: 1px solid orange;
}

p4 
